<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sniff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F93F10A1D4BF89700FAA7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F93F11E1D4BF89700FAA7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F93F1291D4BF89700FAA7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
